In [2]:
import pandas as pd
df = pd.read_csv("kc_house_data .csv")
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
10,1736800520,4/3/2015,662500.0,3,2.50,3560,9796,1.0,0,0,...,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
11,9212900260,5/27/2014,468000.0,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
12,114101516,5/28/2014,310000.0,3,1.00,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
13,6054650070,10/7/2014,400000.0,3,1.75,1370,9680,1.0,0,0,...,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
14,1175000570,3/12/2015,530000.0,5,2.00,1810,4850,1.5,0,0,...,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
15,9297300055,1/24/2015,650000.0,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
16,1875500060,7/31/2014,395000.0,3,2.00,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
17,6865200140,5/29/2014,485000.0,4,1.00,1600,4300,1.5,0,0,...,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
18,16000397,12/5/2014,189000.0,2,1.00,1200,9850,1.0,0,0,...,7,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
19,7983200060,4/24/2015,230000.0,3,1.00,1250,9774,1.0,0,0,...,7,1250,0,1969,0,98003,47.3343,-122.306,1280,8850
20,6300500875,5/14/2014,385000.0,4,1.75,1620,4980,1.0,0,0,...,7,860,760,1947,0,98133,47.7025,-122.341,1400,4980
21,2524049179,8/26/2014,2000000.0,3,2.75,3050,44867,1.0,0,4,...,9,2330,720,1968,0,98040,47.5316,-122.233,4110,20336
22,7137970340,7/3/2014,285000.0,5,2.50,2270,6300,2.0,0,0,...,8,2270,0,1995,0,98092,47.3266,-122.169,2240,7005
23,8091400200,5/16/2014,252700.0,2,1.50,1070,9643,1.0,0,0,...,7,1070,0,1985,0,98030,47.3533,-122.166,1220,8386
24,3814700200,11/20/2014,329000.0,3,2.25,2450,6500,2.0,0,0,...,8,2450,0,1985,0,98030,47.3739,-122.172,2200,6865
25,1202000200,11/3/2014,233000.0,3,2.00,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
26,1794500383,6/26/2014,937000.0,3,1.75,2450,2691,2.0,0,0,...,8,1750,700,1915,0,98119,47.6386,-122.360,1760,3573
27,3303700376,12/1/2014,667000.0,3,1.00,1400,1581,1.5,0,0,...,8,1400,0,1909,0,98112,47.6221,-122.314,1860,3861
28,5101402488,6/24/2014,438000.0,3,1.75,1520,6380,1.0,0,0,...,7,790,730,1948,0,98115,47.6950,-122.304,1520,6235
29,1873100390,3/2/2015,719000.0,4,2.50,2570,7173,2.0,0,0,...,8,2570,0,2005,0,98052,47.7073,-122.110,2630,6026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21567,2025049203,6/10/2014,399950.0,2,1.00,710,1157,2.0,0,0,...,7,710,0,1943,0,98102,47.6413,-122.329,1370,1173
21568,952006823,12/2/2014,380000.0,3,2.50,1260,900,2.0,0,0,...,7,940,320,2007,0,98116,47.5621,-122.384,1310,1415
21569,3832050760,8/28/2014,270000.0,3,2.50,1870,5000,2.0,0,0,...,7,1870,0,2009,0,98042,47.3339,-122.055,2170,5399
21570,2767604724,10/15/2014,505000.0,2,2.50,1430,1201,3.0,0,0,...,8,1430,0,2009,0,98107,47.6707,-122.381,1430,1249
21571,6632300207,3/5/2015,385000.0,3,2.50,1520,1488,3.0,0,0,...,8,1520,0,2006,0,98125,47.7337,-122.309,1520,1497
21572,2767600688,11/13/2014,414500.0,2,1.50,1210,1278,2.0,0,0,...,8,1020,190,2007,0,98117,47.6756,-122.375,1210,1118
21573,7570050450,9/10/2014,347500.0,3,2.50,2540,4760,2.0,0,0,...,8,2540,0,2010,0,98038,47.3452,-122.022,2540,4571
21574,7430200100,5/14/2014,1220000.0,4,3.50,4910,9444,1.5,0,0,...,11,3110,1800,2007,0,98074,47.6502,-122.066,4560,11063
21575,4140940150,10/2/2014,572000.0,4,2.75,2770,3852,2.0,0,0,...,8,2770,0,2014,0,98178,47.5001,-122.232,1810,5641
21576,1931300412,4/16/2015,475000.0,3,2.25,1190,1200,3.0,0,0,...,8,1190,0,2008,0,98103,47.6542,-122.346,1180,1224
21577,8672200110,3/17/2015,1090000.0,5,3.75,4170,8142,2.0,0,2,...,10,4170,0,2006,0,98056,47.5354,-122.181,3030,7980
21578,5087900040,10/17/2014,350000.0,4,2.75,2500,5995,2.0,0,0,...,8,2500,0,2008,0,98042,47.3749,-122.107,2530,5988
21579,1972201967,10/31/2014,520000.0,2,2.25,1530,981,3.0,0,0,...,8,1480,50,2006,0,98103,47.6533,-122.346,1530,1282
21580,7502800100,8/13/2014,679950.0,5,2.75,3600,9437,2.0,0,0,...,9,3600,0,2014,0,98059,47.4822,-122.131,3550,9421
21581,191100405,4/21/2015,1580000.0,4,3.25,3410,10125,2.0,0,0,...,10,3410,0,2007,0,98040,47.5653,-122.223,2290,10125
21582,8956200760,10/13/2014,541800.0,4,2.50,3118,7866,2.0,0,2,...,9,3118,0,2014,0,98001,47.2931,-122.264,2673,6500
21583,7202300110,9/15/2014,810000.0,4,3.00,3990,7838,2.0,0,0,...,9,3990,0,2003,0,98053,47.6857,-122.046,3370,6814
21584,249000205,10/15/2014,1540000.0,5,3.75,4470,8088,2.0,0,0,...,11,4470,0,2008,0,98004,47.6321,-122.200,2780,8964
21585,5100403806,4/7/2015,467000.0,3,2.50,1425,1179,3.0,0,0,...,8,1425,0,2008,0,98125,47.6963,-122.318,1285,1253
21586,844000965,6/26/2014,224000.0,3,1.75,1500,11968,1.0,0,0,...,6,1500,0,2014,0,98010,47.3095,-122.002,1320,11303
21587,7852140040,8/25/2014,507250.0,3,2.50,2270,5536,2.0,0,0,...,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
21588,9834201367,1/26/2015,429000.0,3,2.00,1490,1126,3.0,0,0,...,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21589,3448900210,10/14/2014,610685.0,4,2.50,2520,6023,2.0,0,0,...,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21590,7936000429,3/26/2015,1010000.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21591,2997800021,2/19/2015,475000.0,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [62]:
df["sqft_living"].max()

13540

In [11]:
df['date'][df['floors']==3]

31        12/1/2014
63        12/7/2014
116       6/26/2014
134       1/26/2015
139        5/7/2014
406        8/6/2014
438        7/8/2014
610       12/9/2014
626        8/8/2014
643       5/12/2015
663       5/27/2014
666       5/14/2014
667       9/30/2014
844       12/9/2014
886       7/15/2014
952       5/21/2014
959      11/12/2014
984       5/29/2014
1097       4/6/2015
1106     12/30/2014
1204      5/20/2014
1242      6/24/2014
1254     11/17/2014
1265     11/13/2014
1660      3/30/2015
1687      7/11/2014
1692      8/12/2014
1842      4/13/2015
1846       2/3/2015
1929      2/11/2015
            ...
21440     2/25/2015
21443      6/2/2014
21446     8/13/2014
21450      9/2/2014
21465     5/27/2014
21473     1/20/2015
21475     3/27/2015
21476     4/17/2015
21482     7/14/2014
21491      8/8/2014
21492     6/18/2014
21496     3/31/2015
21500     10/1/2014
21502     7/11/2014
21512     2/17/2015
21518     8/11/2014
21523     2/19/2015
21527     10/7/2014
21536     6/27/2014
21539     9/30/2014
21551     6/18/2014
21553    10/15/2014
21558      5/7/2014
21570    10/15/2014
21571      3/5/2015
21576     4/16/2015
21579    10/31/2014
21585      4/7/2015
21588     1/26/2015
21592     5/21/2014
Name: date, Length: 611, dtype: object

In [57]:
df["grade"].mean()

7.657915451220076

In [59]:
df[df.yr_built == 1955]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
50,5245600105,9/16/2014,228000.0,3,1.00,1190,9199,1.0,0,0,...,7,1190,0,1955,0,98148,47.4258,-122.322,1190,9364
172,1999700045,5/2/2014,313000.0,3,1.50,1340,7912,1.5,0,0,...,7,1340,0,1955,0,98133,47.7658,-122.339,1480,7940
256,7972601890,10/20/2014,385000.0,4,1.75,2360,7620,1.0,0,0,...,7,1180,1180,1955,0,98106,47.5278,-122.345,1910,7620
331,2946001550,4/16/2015,279000.0,6,1.75,2240,11180,2.0,0,0,...,7,2240,0,1955,0,98198,47.4200,-122.323,1590,7955
355,6607000126,6/4/2014,375000.0,4,1.75,2200,7475,1.0,0,0,...,7,1100,1100,1955,0,98118,47.5430,-122.280,1600,5766
421,6073200075,7/30/2014,625000.0,3,1.75,1600,9135,1.0,0,0,...,7,1600,0,1955,0,98006,47.5724,-122.179,1580,9800
480,2205700350,11/4/2014,378500.0,4,1.75,1700,8640,1.0,0,0,...,7,850,850,1955,0,98006,47.5772,-122.153,1620,9000
774,2205500575,2/9/2015,390000.0,3,1.00,1200,10800,1.0,0,0,...,7,1200,0,1955,0,98006,47.5771,-122.144,1370,9950
912,2115200125,9/19/2014,384000.0,4,1.75,2100,7135,1.0,0,0,...,7,1050,1050,1955,0,98106,47.5353,-122.349,1730,4000
991,1455600030,1/8/2015,645000.0,4,2.00,2780,11583,1.0,0,3,...,8,1190,1590,1955,0,98125,47.7293,-122.284,2580,10241
1175,3334000055,4/29/2015,585000.0,2,1.75,1280,7110,1.0,0,0,...,7,1000,280,1955,0,98118,47.5569,-122.273,1550,6835
1240,226059078,2/27/2015,375000.0,2,1.00,1840,81892,1.0,0,0,...,6,1840,0,1955,0,98072,47.7694,-122.124,2550,40089
1390,37000435,2/14/2015,325000.0,2,1.00,1130,5070,1.0,0,0,...,7,1130,0,1955,0,98146,47.5141,-122.377,860,6300
1395,2205500400,5/14/2014,542000.0,4,1.75,1900,8250,1.0,0,0,...,7,950,950,1955,0,98006,47.5765,-122.147,1480,8360
1464,6370000070,9/19/2014,359000.0,4,1.50,1890,6052,1.0,0,0,...,7,1890,0,1955,0,98125,47.7055,-122.300,1510,6072
1606,9368700341,8/22/2014,285000.0,3,2.00,2110,6900,1.5,0,0,...,6,1220,890,1955,0,98178,47.5040,-122.260,1350,7683
1708,7634800070,1/16/2015,453000.0,3,2.50,1820,16300,1.0,0,0,...,7,1220,600,1955,0,98166,47.4582,-122.365,1870,16300
1710,6190701146,4/15/2015,520500.0,6,2.50,1880,14350,1.0,0,0,...,7,1640,240,1955,0,98133,47.7556,-122.352,1510,9840
1759,235000075,7/18/2014,531000.0,5,2.75,2540,5022,1.0,0,0,...,8,1540,1000,1955,0,98108,47.5593,-122.300,2510,5182
1803,3810000860,5/6/2015,240000.0,4,1.50,1920,7973,1.0,0,0,...,8,1920,0,1955,0,98178,47.4961,-122.235,2020,8840
1865,6414600262,8/29/2014,365000.0,2,1.00,990,8250,1.0,0,0,...,7,990,0,1955,0,98133,47.7252,-122.331,1080,8168
2122,9551202025,6/25/2014,800000.0,2,1.00,1740,5719,1.0,0,0,...,8,1740,0,1955,0,98103,47.6729,-122.335,1980,5000
2133,7967600069,11/17/2014,185000.0,3,1.00,980,9135,1.0,0,0,...,7,980,0,1955,0,98001,47.3496,-122.289,1780,9135
2137,8146100370,9/4/2014,735000.0,4,1.75,2100,7960,1.0,0,0,...,8,1340,760,1955,0,98004,47.6079,-122.195,2060,7960
2253,4035900060,9/19/2014,515000.0,3,1.75,1600,20873,1.0,0,0,...,8,1600,0,1955,0,98006,47.5632,-122.182,2640,18364
2285,4024101715,9/5/2014,306000.0,3,1.00,910,8658,1.0,0,0,...,7,910,0,1955,0,98155,47.7586,-122.303,1170,10200
2315,3253500030,7/25/2014,583000.0,4,2.75,2200,9453,1.0,0,0,...,8,1100,1100,1955,0,98144,47.5744,-122.305,1390,5355
2339,2771603610,4/23/2015,545000.0,3,2.00,1550,4000,1.0,0,0,...,7,940,610,1955,0,98199,47.6379,-122.387,1880,4000
2399,1087700030,6/19/2014,450000.0,3,1.75,1610,11200,1.0,0,0,...,7,1610,0,1955,0,98033,47.6641,-122.176,1610,11200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17613,1074100110,5/25/2014,355300.0,3,2.50,1620,7410,1.0,0,0,...,7,1620,0,1955,0,98133,47.7708,-122.335,1450,8121
17714,2207100165,4/30/2015,475000.0,4,1.50,1580,10260,1.0,0,0,...,7,1030,550,1955,0,98007,47.5984,-122.147,1520,7000
17779,4022300035,10/9/2014,424000.0,3,1.00,1580,13912,1.0,0,0,...,8,1580,0,1955,0,98155,47.7552,-122.276,2130,16420
17788,2206500110,9/5/2014,508450.0,4,1.75,1520,9600,1.0,0,0,...,7,1000,520,1955,0,98006,47.5763,-122.154,1510,9000
17791,2206900065,5/1/2015,380000.0,3,1.50,1430,11173,1.0,0,0,...,7,1430,0,1955,0,98006,47.5734,-122.153,1520,11659
17806,7957600025,5/8/2014,245000.0,3,1.50,1260,7964,1.0,0,0,...,7,1260,0,1955,0,98148,47.4307,-122.334,1510,8776
17811,2220069003,2/23/2015,425000.0,3,2.75,1360,542322,1.0,0,2,...,7,1140,220,1955,0,98022,47.2069,-122.024,1700,60548
17932,9485700150,3/4/2015,275000.0,2,1.00,920,7688,1.0,0,0,...,6,920,0,1955,0,98106,47.5281,-122.362,1040,7440
17941,4237900645,10/10/2014,475000.0,2,1.75,1320,3420,1.0,0,1,...,7,1080,240,1955,0,98199,47.6639,-122.399,2070,6000
17952,2556500040,1/6/2015,320000.0,3,1.00,1230,7492,1.0,0,0,...,7,1230,0,1955,0,98155,47.7633,-122.315,1710,7238
17998,8624700015,11/12/2014,640000.0,4,3.00,2940,5763,1.0,0,0,...,8,1640,1300,1955,0,98108,47.5589,-122.295,2020,7320
18044,3123049131,12/18/2014,244000.0,2,1.00,1180,10200,1.0,0,0,...,7,1180,0,1955,0,98148,47.4358,-122.336,1330,10200
18178,3649100031,3/5/2015,345000.0,4,1.00,2020,18150,1.0,0,0,...,7,2020,0,1955,0,98028,47.7390,-122.249,1530,11970
18181,3959400645,1/7/2015,605000.0,5,3.00,3670,9600,1.0,0,1,...,8,1980,1690,1955,0,98108,47.5648,-122.316,1730,4933
18279,114100758,10/22/2014,420000.0,2,1.00,960,112384,1.0,0,0,...,7,960,0,1955,0,98028,47.7642,-122.234,1210,24875
18363,3438502731,4/1/2015,323000.0,3,1.50,1720,7110,1.0,0,0,...,8,1720,0,1955,0,98106,47.5417,-122.355,1730,6840
18391,740500040,10/1/2014,265000.0,4,1.00,1860,8505,1.0,0,0,...,7,1860,0,1955,0,98055,47.4406,-122.194,1560,8505
18403,3425059066,8/12/2014,618000.0,5,1.75,1880,18295,1.0,0,0,...,7,1880,0,1955,0,98005,47.6059,-122.154,2180,20674
18430,5727500301,10/6/2014,401000.0,3,1.50,1470,6867,1.0,0,0,...,8,1470,0,1955,0,98155,47.7495,-122.327,1470,6523
18492,2205700180,4/3/2015,545000.0,3,2.00,1610,8069,1.0,0,0,...,7,1090,520,1955,0,98006,47.5754,-122.150,1510,8803
18861,9808700025,2/11/2015,1500000.0,3,1.50,1910,21374,1.0,0,0,...,8,1910,0,1955,0,98004,47.6453,-122.214,2850,16167
18906,2206500300,8/20/2014,565000.0,5,1.75,1910,9720,1.0,0,0,...,7,1390,520,1955,0,98006,47.5772,-122.159,1750,9720
18941,4024101421,12/2/2014,320000.0,4,1.00,1460,7200,1.5,0,0,...,7,1460,0,1955,0,98155,47.7602,-122.306,1690,7357
19090,2207100740,1/6/2015,463000.0,3,1.00,1250,7700,1.0,0,0,...,7,1250,0,1955,0,98007,47.5974,-122.149,1520,7700
19171,2239000011,1/27/2015,500000.0,4,2.00,1530,7816,1.0,0,0,...,7,1530,0,1955,0,98133,47.7309,-122.332,1480,7816
19225,1151100035,6/11/2014,450000.0,4,2.50,2300,19250,1.0,0,0,...,7,2300,0,1955,0,98045,47.4793,-121.776,1460,19250
19455,2566300100,3/27/2015,1390000.0,5,1.75,2650,11340,1.0,0,0,...,8,2650,0,1955,0,98004,47.6260,-122.213,2780,13204
19472,8075400530,6/27/2014,234000.0,4,1.00,1390,18000,1.0,0,0,...,7,1390,0,1955,2013,98032,47.3885,-122.284,1390,18000
19504,6384500535,3/26/2015,499000.0,3,1.00,1270,6250,1.0,0,0,...,7,910,360,1955,0,98116,47.5694,-122.397,2000,6250
19517,6751100205,8/4/2014,450000.0,2,1.00,1180,10720,1.0,0,0,...,7,1180,0,1955,0,98007,47.5893,-122.135,1420,10750

In [14]:
df.bedrooms.sum()

72851

In [15]:
df.bedrooms.min()

1

In [16]:
df.bedrooms.max()

33

In [17]:
df.bedrooms.mean()

3.3731999814789093

In [18]:
df.bedrooms.median()

3.0

In [19]:
df.groupby('yr_built').mean()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
yr_built,,,,,,,,,,,,,,,,,,,
1900,5.060402e+09,581536.632184,3.275862,1.729885,1732.011494,10869.597701,1.505747,0.000000,0.252874,3.528736,6.873563,1487.068966,244.942529,435.344828,98104.655172,47.594106,-122.288874,1667.114943,7222.195402
1901,5.036920e+09,557108.344828,3.620690,1.577586,1763.620690,4142.931034,1.568966,0.000000,0.068966,3.655172,7.034483,1513.620690,250.000000,68.517241,98121.000000,47.630710,-122.329793,1530.965517,3947.862069
1902,4.280460e+09,673192.592593,3.555556,1.925926,1919.629630,4766.518519,1.740741,0.000000,0.074074,3.629630,7.444444,1784.074074,135.555556,145.740741,98116.518519,47.616689,-122.314556,1913.703704,4576.888889
1903,4.508135e+09,480958.195652,3.065217,1.505435,1507.739130,6364.565217,1.456522,0.021739,0.239130,3.500000,6.869565,1402.869565,104.869565,260.130435,98105.608696,47.591474,-122.287261,1537.608696,5303.760870
1904,4.542878e+09,583867.755556,2.911111,1.500000,1603.177778,5410.000000,1.344444,0.000000,0.066667,3.800000,6.911111,1307.177778,296.000000,266.400000,98117.933333,47.609891,-122.316822,1630.222222,4600.066667
1905,4.427030e+09,753443.932432,3.310811,1.864865,1965.810811,10311.081081,1.621622,0.013514,0.256757,3.770270,7.472973,1641.351351,324.459459,459.486486,98110.972973,47.602680,-122.312554,1811.486486,6341.148649
1906,3.719887e+09,670027.663043,3.228261,1.777174,1802.228261,5325.195652,1.494565,0.000000,0.130435,3.673913,7.184783,1537.554348,264.673913,174.369565,98110.750000,47.628545,-122.315707,1705.217391,4442.728261
1907,4.281123e+09,676324.476923,3.261538,1.784615,1904.276923,5161.307692,1.615385,0.000000,0.169231,3.661538,7.261538,1601.661538,302.615385,429.492308,98113.030769,47.607817,-122.320046,1766.153846,4925.184615
1908,4.809381e+09,564499.848837,3.081395,1.636628,1699.639535,6492.511628,1.436047,0.011628,0.406977,3.767442,6.953488,1398.965116,300.674419,324.255814,98112.313953,47.594113,-122.315558,1744.767442,6270.604651
1909,4.592798e+09,696448.989362,3.191489,1.824468,1900.106383,5102.638298,1.510638,0.000000,0.234043,3.829787,7.382979,1576.063830,324.042553,339.042553,98110.893617,47.622599,-122.324340,1777.010638,4822.393617
1910,4.639921e+09,671671.835821,3.037313,1.783582,1880.716418,6976.111940,1.473881,0.000000,0.335821,3.701493,7.194030,1504.895522,375.820896,252.813433,98112.283582,47.606199,-122.328082,1717.611940,5382.000000
1911,4.643895e+09,632584.246575,3.547945,1.729452,1893.835616,5799.369863,1.438356,0.000000,0.287671,3.808219,7.095890,1539.041096,354.794521,380.356164,98108.136986,47.606792,-122.321877,1584.931507,5059.205479
1912,5.390877e+09,613193.227848,3.151899,1.724684,1829.050633,7736.772152,1.430380,0.012658,0.329114,3.721519,7.088608,1474.683544,354.367089,353.506329,98103.329114,47.589801,-122.301354,1732.556962,9418.898734
1913,4.495509e+09,593757.931034,3.637931,1.900862,1920.517241,8380.793103,1.413793,0.017241,0.327586,3.672414,7.086207,1522.068966,398.448276,341.258621,98098.189655,47.576624,-122.288017,1739.620690,8613.586207
1914,4.235658e+09,615246.074074,3.259259,1.787037,1850.925926,5707.666667,1.398148,0.000000,0.240741,3.722222,7.018519,1498.333333,352.592593,331.444444,98103.870370,47.593831,-122.302963,1714.722222,5705.444444
1915,5.090665e+09,585036.921875,3.234375,1.750000,1726.093750,27459.468750,1.382812,0.031250,0.546875,3.687500,6.859375,1390.625000,335.468750,340.640625,98101.625000,47.588336,-122.297047,1633.593750,6689.421875
1916,5.322393e+09,601041.620253,3.126582,1.693038,1758.987342,5458.455696,1.329114,0.012658,0.278481,3.898734,6.936709,1430.506329,328.481013,201.189873,98111.873418,47.612716,-122.320101,1695.949367,5362.607595
1917,4.851890e+09,528126.785714,3.160714,1.651786,1668.178571,7285.125000,1.330357,0.017857,0.321429,3.910714,6.839286,1335.321429,332.857143,178.892857,98115.446429,47.572979,-122.312339,1644.464286,5922.982143
1918,4.843249e+09,492346.875000,2.958333,1.481250,1539.766667,7760.841667,1.291667,0.008333,0.175000,3.575000,6.708333,1279.766667,260.000000,214.966667,98113.025000,47.574937,-122.324667,1613.916667,6510.591667
1919,4.643079e+09,537887.556818,3.011364,1.644886,1677.954545,14603.556818,1.335227,0.022727,0.250000,3.715909,6.818182,1315.227273,362.727273,338.511364,98110.659091,47.584976,-122.316568,1599.352273,10325.943182
1920,4.180858e+09,477761.030612,3.010204,1.543367,1564.183673,23305.040816,1.331633,0.000000,0.153061,3.653061,6.642857,1305.408163,258.775510,203.448980,98106.632653,47.565522,-122.298388,1572.571429,10471.377551
1921,4.984806e+09,613224.210526,3.315789,1.707237,1841.802632,8879.355263,1.368421,0.000000,0.315789,3.657895,7.105263,1480.092105,361.710526,184.052632,98110.605263,47.621234,-122.309842,1775.657895,6732.618421
1922,4.710890e+09,569794.147368,2.978947,1.615789,1723.063158,7349.178947,1.363158,0.000000,0.168421,3.578947,7.000000,1370.852632,352.210526,377.800000,98113.621053,47.596719,-122.289768,1703.578947,6354.694737
1923,4.577092e+09,618653.773810,2.928571,1.541667,1670.119048,8876.761905,1.255952,0.035714,0.357143,3.726190,6.988095,1333.452381,336.666667,237.476190,98111.547619,47.605907,-122.297083,1730.321429,6293.380952
1924,4.669080e+09,570419.928058,2.877698,1.523381,1639.928058,8137.431655,1.276978,0.000000,0.223022,3.676259,6.920863,1324.532374,315.395683,286.805755,98110.568345,47.626153,-122.315597,1687.503597,7715.863309
1925,4.949731e+09,607316.606061,3.200000,1.745455,1840.096970,11485.254545,1.372727,0.018182,0.309091,3.781818,7.115152,1448.775758,391.321212,193.842424,98113.884848,47.598362,-122.321521,1717.660606,9108.939394
1926,5.434596e+09,625443.377778,3.222222,1.766667,1787.583333,6321.611111,1.402778,0.011111,0.338889,3.733333,7.150000,1377.527778,410.055556,178.111111,98117.916667,47.626407,-122.327989,1699.855556,5800.311111
1927,5.196212e+09,654154.208696,3.173913,1.795652,1824.956522,7326.573913,1.413043,0.000000,0.295652,3.730435,7.400000,1452.347826,372.608696,139.113043,98112.295652,47.629972,-122.318843,1743.739130,7358.252174
1928,5.032356e+09,621920.198413,3.150794,1.686508,1765.000000,6748.190476,1.408730,0.023810,0.531746,3.777778,7.206349,1418.492063,346.507937,158.007937,98116.222222,47.617514,-122.312746,1774.365079,6395.579365
1929,4.699699e+09,574396.842105,3.324561,1.802632,1817.105263,6510.017544,1.464912,0.000000,0.228070,3.675439,7.315789,1404.385965,412.719298,70.026316,98117.464912,47.627633,-122.333175,1662.131579,5488.385965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,4.417725e+09,476989.069767,3.362791,2.310465,2139.037209,16684.404651,1.583721,0.000000,0.172093,3.279070,7.916279,1933.827907,205.209302,18.627907,98053.148837,47.519126,-122.163353,2091.972093,15407.706977
1987,4.528690e+09,517565.010204,3.384354,2.379252,2223.680272,18786.731293,1.647959,0.000000,0.081633,3.282313,8.119048,2053.204082,170.476190,20.428571,98051.829932,47.538120,-122.140054,2159.595238,17599.200680
1988,4.208185e+09,583930.400000,3.374074,2.423148,2408.855556,23629.096296,1.683333,0.003704,0.200000,3.259259,8.385185,2208.262963,200.592593,14.862963,98047.448148,47.540731,-122.144719,2328.648148,18746.707407
1989,4.591488e+09,583063.403448,3.486207,2.525000,2442.482759,25437.186207,1.732759,0.013793,0.251724,3.296552,8.341379,2257.517241,184.965517,6.896552,98044.975862,47.519111,-122.133297,2385.386207,22279.268966
1990,4.602329e+09,560781.334385,3.485804,2.528391,2509.148265,23717.788644,1.804416,0.012618,0.195584,3.233438,8.501577,2354.574132,154.574132,6.337539,98050.621451,47.499561,-122.149435,2369.804416,19699.946372
1991,4.295127e+09,630630.647321,3.482143,2.545759,2622.946429,34323.321429,1.801339,0.013393,0.325893,3.214286,8.540179,2424.955357,197.991071,8.982143,98051.861607,47.507183,-122.142317,2416.986607,24702.602679
1992,4.534726e+09,548205.924242,3.474747,2.522727,2402.161616,28574.570707,1.795455,0.005051,0.191919,3.191919,8.308081,2260.989899,141.171717,0.000000,98050.803030,47.498646,-122.125803,2234.439394,18740.277778
1993,4.254916e+09,556760.455446,3.514851,2.556931,2430.044554,22107.747525,1.814356,0.009901,0.198020,3.148515,8.292079,2284.202970,145.841584,0.000000,98053.346535,47.500290,-122.126371,2277.836634,20733.584158
1994,4.672115e+09,486864.040161,3.457831,2.482932,2249.799197,20254.702811,1.805221,0.000000,0.140562,3.100402,8.088353,2141.686747,108.112450,0.000000,98049.068273,47.487966,-122.116643,2185.020080,16896.566265
1995,4.315598e+09,577933.757396,3.437870,2.520710,2410.284024,25355.704142,1.843195,0.000000,0.230769,3.106509,8.301775,2241.053254,169.230769,0.000000,98049.526627,47.535818,-122.116615,2279.165680,20514.668639
1996,4.366478e+09,641759.474227,3.618557,2.658505,2590.886598,24148.030928,1.873711,0.010309,0.319588,3.072165,8.463918,2394.185567,196.701031,20.659794,98054.268041,47.530915,-122.129861,2408.376289,21229.891753
1997,4.318258e+09,606173.887006,3.581921,2.658192,2513.994350,24979.937853,1.892655,0.000000,0.293785,3.073446,8.446328,2375.971751,138.022599,0.000000,98062.440678,47.545754,-122.150260,2406.949153,20747.892655
1998,4.432915e+09,594280.146444,3.623431,2.664226,2594.158996,18340.016736,1.901674,0.004184,0.238494,3.037657,8.539749,2449.723849,144.435146,16.790795,98062.025105,47.519228,-122.125402,2442.355649,16997.309623
1999,4.534305e+09,642989.589354,3.585551,2.673954,2582.110266,23712.250951,2.000000,0.011407,0.254753,3.041825,8.456274,2425.661597,156.448669,0.000000,98067.441065,47.549044,-122.138186,2337.095057,16738.676806
2000,5.035812e+09,682003.619266,3.527523,2.755734,2646.307339,26207.802752,2.032110,0.009174,0.325688,3.018349,8.587156,2443.357798,202.949541,0.000000,98069.123853,47.564745,-122.161775,2350.619266,21178.839450
2001,4.925783e+09,741340.042623,3.665574,2.814754,2880.708197,19736.672131,2.022951,0.013115,0.249180,3.022951,8.645902,2698.118033,182.590164,0.000000,98060.321311,47.570027,-122.137164,2490.452459,15183.875410
2002,4.819786e+09,578818.481982,3.621622,2.648649,2600.153153,23596.409910,1.972973,0.009009,0.189189,3.027027,8.216216,2446.729730,153.423423,0.000000,98070.139640,47.520612,-122.128090,2376.657658,14900.099099
2003,4.764011e+09,560249.897619,3.573810,2.614881,2465.033333,12178.047619,1.966667,0.000000,0.095238,3.014286,8.059524,2348.247619,116.785714,4.783333,98058.833333,47.540742,-122.130162,2318.852381,11006.847619
2004,5.305478e+09,596095.004619,3.510393,2.663972,2537.367206,14760.602771,1.973441,0.004619,0.193995,3.004619,8.233256,2400.265589,137.101617,0.000000,98062.572748,47.550157,-122.113843,2380.237875,11876.720554
2005,4.383175e+09,580895.468889,3.404444,2.625556,2403.051111,10592.953333,2.022222,0.002222,0.166667,3.006667,8.260000,2261.015556,142.035556,0.000000,98065.308889,47.560470,-122.143064,2261.540000,9792.555556
2006,5.238088e+09,631595.724062,3.445916,2.714680,2534.143488,15525.993377,2.044150,0.006623,0.185430,3.008830,8.490066,2325.735099,208.408389,0.000000,98072.030905,47.557745,-122.174779,2298.432671,9573.916115
2007,4.641196e+09,615193.292566,3.273381,2.635492,2320.649880,9823.002398,2.124700,0.007194,0.163070,3.000000,8.333333,2111.786571,208.863309,0.000000,98082.244604,47.586879,-122.220659,2046.498801,10502.482014
2008,5.165041e+09,642037.716621,3.275204,2.655313,2246.043597,10073.482289,2.197548,0.000000,0.207084,3.002725,8.321526,1998.722071,247.321526,0.000000,98087.384196,47.598666,-122.243095,1865.397820,9912.378747
2009,4.756309e+09,518462.186957,3.139130,2.495652,1977.517391,9667.495652,2.163043,0.000000,0.130435,3.004348,8.000000,1852.352174,125.165217,0.000000,98080.013043,47.569560,-122.207326,1845.886957,7578.943478
2010,5.239668e+09,551678.384615,3.384615,2.632867,2225.804196,5857.412587,1.989510,0.000000,0.139860,3.000000,8.069930,2094.405594,131.398601,0.000000,98064.209790,47.549844,-122.160392,2111.755245,5560.594406
2011,4.787524e+09,544648.384615,3.469231,2.640385,2313.684615,6519.692308,2.015385,0.000000,0.107692,3.000000,8.184615,2170.415385,143.269231,0.000000,98063.053846,47.522833,-122.169854,2226.715385,5630.415385
2012,5.149959e+09,527436.982353,3.576471,2.641176,2378.741176,6085.535294,1.994118,0.005882,0.094118,3.000000,8.182353,2276.447059,102.294118,0.000000,98062.041176,47.501455,-122.139559,2246.658824,5806.547059
2013,4.447780e+09,678599.582090,3.845771,2.850746,2636.592040,7338.079602,2.042289,0.000000,0.179104,3.000000,8.467662,2464.726368,171.865672,0.000000,98066.348259,47.526551,-122.143856,2340.721393,7890.442786
2014,4.482581e+09,683792.685152,3.724508,2.746422,2615.389982,5984.756708,2.126118,0.003578,0.109123,3.000000,8.559928,2443.194991,172.194991,0.000000,98076.533095,47.549836,-122.207311,2282.046512,6235.620751
2015,5.255062e+09,759970.947368,3.657895,2.763158,2596.315789,5016.289474,2.223684,0.000000,0.131579,3.000000,8.921053,2298.421053,297.894737,0.000000,98103.578947,47.616995,-122.260895,2026.052632,5551.315789

In [20]:
df.groupby('yr_built').mean()[['bedrooms']]

          bedrooms
yr_built
1900      3.275862
1901      3.620690
1902      3.555556
1903      3.065217
1904      2.911111
1905      3.310811
1906      3.228261
1907      3.261538
1908      3.081395
1909      3.191489
1910      3.037313
1911      3.547945
1912      3.151899
1913      3.637931
1914      3.259259
1915      3.234375
1916      3.126582
1917      3.160714
1918      2.958333
1919      3.011364
1920      3.010204
1921      3.315789
1922      2.978947
1923      2.928571
1924      2.877698
1925      3.200000
1926      3.222222
1927      3.173913
1928      3.150794
1929      3.324561
...            ...
1986      3.362791
1987      3.384354
1988      3.374074
1989      3.486207
1990      3.485804
1991      3.482143
1992      3.474747
1993      3.514851
1994      3.457831
1995      3.437870
1996      3.618557
1997      3.581921
1998      3.623431
1999      3.585551
2000      3.527523
2001      3.665574
2002      3.621622
2003      3.573810
2004      3.510393
2005      3.404444
2006      3.445916
2007      3.273381
2008      3.275204
2009      3.139130
2010      3.384615
2011      3.469231
2012      3.576471
2013      3.845771
2014      3.724508
2015      3.657895

[116 rows x 1 columns]

In [70]:
df.groupby('yr_built').count()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
yr_built,,,,,,,,,,,,,,,,,,,,
1900,87,87,87,87,87,87,87,87,87,87,87,87,87,87,87,87,87,87,87,87
1901,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29
1902,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27
1903,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46
1904,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45
1905,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74
1906,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92
1907,65,65,65,65,65,65,65,65,65,65,65,65,65,65,65,65,65,65,65,65
1908,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86
1909,94,94,94,94,94,94,94,94,94,94,94,94,94,94,94,94,94,94,94,94
1910,134,134,134,134,134,134,134,134,134,134,134,134,134,134,134,134,134,134,134,134
1911,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73
1912,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79
1913,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58
1914,54,54,54,54,54,54,54,54,54,54,54,54,54,54,54,54,54,54,54,54
1915,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64
1916,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79
1917,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56
1918,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120
1919,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88
1920,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98
1921,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76
1922,95,95,95,95,95,95,95,95,95,95,95,95,95,95,95,95,95,95,95,95
1923,84,84,84,84,84,84,84,84,84,84,84,84,84,84,84,84,84,84,84,84
1924,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139
1925,165,165,165,165,165,165,165,165,165,165,165,165,165,165,165,165,165,165,165,165
1926,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180
1927,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115
1928,126,126,126,126,126,126,126,126,126,126,126,126,126,126,126,126,126,126,126,126
1929,114,114,114,114,114,114,114,114,114,114,114,114,114,114,114,114,114,114,114,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,215,215,215,215,215,215,215,215,215,215,215,215,215,215,215,215,215,215,215,215
1987,294,294,294,294,294,294,294,294,294,294,294,294,294,294,294,294,294,294,294,294
1988,270,270,270,270,270,270,270,270,270,270,270,270,270,270,270,270,270,270,270,270
1989,290,290,290,290,290,290,290,290,290,290,290,290,290,290,290,290,290,290,290,290
1990,317,317,317,317,317,317,317,317,317,317,317,317,317,317,317,317,317,317,317,317
1991,224,224,224,224,224,224,224,224,224,224,224,224,224,224,224,224,224,224,224,224
1992,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198
1993,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202
1994,249,249,249,249,249,249,249,249,249,249,249,249,249,249,249,249,249,249,249,249
1995,169,169,169,169,169,169,169,169,169,169,169,169,169,169,169,169,169,169,169,169
1996,194,194,194,194,194,194,194,194,194,194,194,194,194,194,194,194,194,194,194,194
1997,177,177,177,177,177,177,177,177,177,177,177,177,177,177,177,177,177,177,177,177
1998,239,239,239,239,239,239,239,239,239,239,239,239,239,239,239,239,239,239,239,239
1999,263,263,263,263,263,263,263,263,263,263,263,263,263,263,263,263,263,263,263,263
2000,218,218,218,218,218,218,218,218,218,218,218,218,218,218,218,218,218,218,218,218
2001,305,305,305,305,305,305,305,305,305,305,305,305,305,305,305,305,305,305,305,305
2002,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222
2003,420,420,420,420,420,420,420,420,420,420,420,420,420,420,420,420,420,420,420,420
2004,433,433,433,433,433,433,433,433,433,433,433,433,433,433,433,433,433,433,433,433
2005,450,450,450,450,450,450,450,450,450,450,450,450,450,450,450,450,450,450,450,450
2006,453,453,453,453,453,453,453,453,453,453,453,453,453,453,453,453,453,453,453,453
2007,417,417,417,417,417,417,417,417,417,417,417,417,417,417,417,417,417,417,417,417
2008,367,367,367,367,367,367,367,367,367,367,367,367,367,367,367,367,367,367,367,367
2009,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230
2010,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143
2011,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130
2012,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170
2013,201,201,201,201,201,201,201,201,201,201,201,201,201,201,201,201,201,201,201,201
2014,559,559,559,559,559,559,559,559,559,559,559,559,559,559,559,559,559,559,559,559
2015,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38

In [22]:
df.groupby('bedrooms').count()[['bathrooms']]

          bathrooms
bedrooms
1               196
2              2760
3              9824
4              6882
5              1601
6               272
7                38
8                13
9                 6
10                3
11                1
33                1

In [64]:
dzoo = pd.read_csv("zoo.csv")
dzoo

      animal  uniq_id  water_need
0   elephant     1001         500
1   elephant     1002         600
2   elephant     1003         550
3      tiger     1004         300
4      tiger     1005         320
5      tiger     1006         330
6      tiger     1007         290
7      tiger     1008         310
8      zebra     1009         200
9      zebra     1010         220
10     zebra     1011         240
11     zebra     1012         230
12     zebra     1013         220
13     zebra     1014         100
14     zebra     1015          80
15      lion     1016         420
16      lion     1017         600
17      lion     1018         500
18      lion     1019         390
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410

In [69]:
dzoo.groupby('animal').mean()

          uniq_id  water_need
animal
elephant   1002.0  550.000000
kangaroo   1021.0  416.666667
lion       1017.5  477.500000
tiger      1006.0  310.000000
zebra      1012.0  184.285714

In [77]:
zoo_eats = pd.DataFrame({"animal":['elephant','tiger','zebra','kangaroo','giraffe'], "food":['vegetables','food','vegetables','vegetables','vegetables']})
zoo_eats

     animal        food
0  elephant  vegetables
1     tiger        food
2     zebra  vegetables
3  kangaroo  vegetables
4   giraffe  vegetables

In [31]:
zoo_eats = pd.DataFrame([['elephant','vegetables'],['tiger','meat'],['zebra','vegetables'],['kangaroo','vegetables'],['giraffe','vegetables']], columns = ['animal','food'])
zoo_eats

     animal        food
0  elephant  vegetables
1     tiger        meat
2     zebra  vegetables
3  kangaroo  vegetables
4   giraffe  vegetables

In [32]:
dzoo.merge(zoo_eats)

      animal  uniq_id  water_need        food
0   elephant     1001         500  vegetables
1   elephant     1002         600  vegetables
2   elephant     1003         550  vegetables
3      tiger     1004         300        meat
4      tiger     1005         320        meat
5      tiger     1006         330        meat
6      tiger     1007         290        meat
7      tiger     1008         310        meat
8      zebra     1009         200  vegetables
9      zebra     1010         220  vegetables
10     zebra     1011         240  vegetables
11     zebra     1012         230  vegetables
12     zebra     1013         220  vegetables
13     zebra     1014         100  vegetables
14     zebra     1015          80  vegetables
15  kangaroo     1020         410  vegetables
16  kangaroo     1021         430  vegetables
17  kangaroo     1022         410  vegetables

In [30]:
zoo_eats.merge(dzoo)

      animal        food  uniq_id  water_need
0   elephant  vegetables     1001         500
1   elephant  vegetables     1002         600
2   elephant  vegetables     1003         550
3      tiger        meat     1004         300
4      tiger        meat     1005         320
5      tiger        meat     1006         330
6      tiger        meat     1007         290
7      tiger        meat     1008         310
8      zebra  vegetables     1009         200
9      zebra  vegetables     1010         220
10     zebra  vegetables     1011         240
11     zebra  vegetables     1012         230
12     zebra  vegetables     1013         220
13     zebra  vegetables     1014         100
14     zebra  vegetables     1015          80
15  kangaroo  vegetables     1020         410
16  kangaroo  vegetables     1021         430
17  kangaroo  vegetables     1022         410

In [33]:
dzoo.merge(zoo_eats, how = 'outer')

      animal  uniq_id  water_need        food
0   elephant   1001.0       500.0  vegetables
1   elephant   1002.0       600.0  vegetables
2   elephant   1003.0       550.0  vegetables
3      tiger   1004.0       300.0        meat
4      tiger   1005.0       320.0        meat
5      tiger   1006.0       330.0        meat
6      tiger   1007.0       290.0        meat
7      tiger   1008.0       310.0        meat
8      zebra   1009.0       200.0  vegetables
9      zebra   1010.0       220.0  vegetables
10     zebra   1011.0       240.0  vegetables
11     zebra   1012.0       230.0  vegetables
12     zebra   1013.0       220.0  vegetables
13     zebra   1014.0       100.0  vegetables
14     zebra   1015.0        80.0  vegetables
15      lion   1016.0       420.0         NaN
16      lion   1017.0       600.0         NaN
17      lion   1018.0       500.0         NaN
18      lion   1019.0       390.0         NaN
19  kangaroo   1020.0       410.0  vegetables
20  kangaroo   1021.0       430.0  vegetables
21  kangaroo   1022.0       410.0  vegetables
22   giraffe      NaN         NaN  vegetables

In [34]:
dzoo.merge(zoo_eats, how = 'left')

      animal  uniq_id  water_need        food
0   elephant     1001         500  vegetables
1   elephant     1002         600  vegetables
2   elephant     1003         550  vegetables
3      tiger     1004         300        meat
4      tiger     1005         320        meat
5      tiger     1006         330        meat
6      tiger     1007         290        meat
7      tiger     1008         310        meat
8      zebra     1009         200  vegetables
9      zebra     1010         220  vegetables
10     zebra     1011         240  vegetables
11     zebra     1012         230  vegetables
12     zebra     1013         220  vegetables
13     zebra     1014         100  vegetables
14     zebra     1015          80  vegetables
15      lion     1016         420         NaN
16      lion     1017         600         NaN
17      lion     1018         500         NaN
18      lion     1019         390         NaN
19  kangaroo     1020         410  vegetables
20  kangaroo     1021         430  vegetables
21  kangaroo     1022         410  vegetables

In [35]:
zoo_eats.merge(dzoo, how = 'left')

      animal        food  uniq_id  water_need
0   elephant  vegetables   1001.0       500.0
1   elephant  vegetables   1002.0       600.0
2   elephant  vegetables   1003.0       550.0
3      tiger        meat   1004.0       300.0
4      tiger        meat   1005.0       320.0
5      tiger        meat   1006.0       330.0
6      tiger        meat   1007.0       290.0
7      tiger        meat   1008.0       310.0
8      zebra  vegetables   1009.0       200.0
9      zebra  vegetables   1010.0       220.0
10     zebra  vegetables   1011.0       240.0
11     zebra  vegetables   1012.0       230.0
12     zebra  vegetables   1013.0       220.0
13     zebra  vegetables   1014.0       100.0
14     zebra  vegetables   1015.0        80.0
15  kangaroo  vegetables   1020.0       410.0
16  kangaroo  vegetables   1021.0       430.0
17  kangaroo  vegetables   1022.0       410.0
18   giraffe  vegetables      NaN         NaN

In [71]:
dzoo.merge(zoo_eats, how = 'left')

      animal  uniq_id  water_need        food
0   elephant     1001         500  vegetables
1   elephant     1002         600  vegetables
2   elephant     1003         550  vegetables
3      tiger     1004         300        meat
4      tiger     1005         320        meat
5      tiger     1006         330        meat
6      tiger     1007         290        meat
7      tiger     1008         310        meat
8      zebra     1009         200  vegetables
9      zebra     1010         220  vegetables
10     zebra     1011         240  vegetables
11     zebra     1012         230  vegetables
12     zebra     1013         220  vegetables
13     zebra     1014         100  vegetables
14     zebra     1015          80  vegetables
15      lion     1016         420         NaN
16      lion     1017         600         NaN
17      lion     1018         500         NaN
18      lion     1019         390         NaN
19  kangaroo     1020         410  vegetables
20  kangaroo     1021         430  vegetables
21  kangaroo     1022         410  vegetables

In [37]:
dzoo.merge(zoo_eats, how = 'inner')

      animal  uniq_id  water_need        food
0   elephant     1001         500  vegetables
1   elephant     1002         600  vegetables
2   elephant     1003         550  vegetables
3      tiger     1004         300        meat
4      tiger     1005         320        meat
5      tiger     1006         330        meat
6      tiger     1007         290        meat
7      tiger     1008         310        meat
8      zebra     1009         200  vegetables
9      zebra     1010         220  vegetables
10     zebra     1011         240  vegetables
11     zebra     1012         230  vegetables
12     zebra     1013         220  vegetables
13     zebra     1014         100  vegetables
14     zebra     1015          80  vegetables
15  kangaroo     1020         410  vegetables
16  kangaroo     1021         430  vegetables
17  kangaroo     1022         410  vegetables

In [39]:
dzoo.merge(zoo_eats, how = 'left', left_on = 'animal', right_on = 'animal')

      animal  uniq_id  water_need        food
0   elephant     1001         500  vegetables
1   elephant     1002         600  vegetables
2   elephant     1003         550  vegetables
3      tiger     1004         300        meat
4      tiger     1005         320        meat
5      tiger     1006         330        meat
6      tiger     1007         290        meat
7      tiger     1008         310        meat
8      zebra     1009         200  vegetables
9      zebra     1010         220  vegetables
10     zebra     1011         240  vegetables
11     zebra     1012         230  vegetables
12     zebra     1013         220  vegetables
13     zebra     1014         100  vegetables
14     zebra     1015          80  vegetables
15      lion     1016         420         NaN
16      lion     1017         600         NaN
17      lion     1018         500         NaN
18      lion     1019         390         NaN
19  kangaroo     1020         410  vegetables
20  kangaroo     1021         430  vegetables
21  kangaroo     1022         410  vegetables

In [40]:
dzoo.sort_values('water_need')

      animal  uniq_id  water_need
14     zebra     1015          80
13     zebra     1014         100
8      zebra     1009         200
9      zebra     1010         220
12     zebra     1013         220
11     zebra     1012         230
10     zebra     1011         240
6      tiger     1007         290
3      tiger     1004         300
7      tiger     1008         310
4      tiger     1005         320
5      tiger     1006         330
18      lion     1019         390
19  kangaroo     1020         410
21  kangaroo     1022         410
15      lion     1016         420
20  kangaroo     1021         430
17      lion     1018         500
0   elephant     1001         500
2   elephant     1003         550
16      lion     1017         600
1   elephant     1002         600

In [73]:
dzoo.sort_values(by = ['animal','water_need'])

      animal  uniq_id  water_need
0   elephant     1001         500
2   elephant     1003         550
1   elephant     1002         600
19  kangaroo     1020         410
21  kangaroo     1022         410
20  kangaroo     1021         430
18      lion     1019         390
15      lion     1016         420
17      lion     1018         500
16      lion     1017         600
6      tiger     1007         290
3      tiger     1004         300
7      tiger     1008         310
4      tiger     1005         320
5      tiger     1006         330
14     zebra     1015          80
13     zebra     1014         100
8      zebra     1009         200
9      zebra     1010         220
12     zebra     1013         220
11     zebra     1012         230
10     zebra     1011         240

In [43]:
dzoo.sort_values(by = ['water_need'])

      animal  uniq_id  water_need
14     zebra     1015          80
13     zebra     1014         100
8      zebra     1009         200
9      zebra     1010         220
12     zebra     1013         220
11     zebra     1012         230
10     zebra     1011         240
6      tiger     1007         290
3      tiger     1004         300
7      tiger     1008         310
4      tiger     1005         320
5      tiger     1006         330
18      lion     1019         390
19  kangaroo     1020         410
21  kangaroo     1022         410
15      lion     1016         420
20  kangaroo     1021         430
17      lion     1018         500
0   elephant     1001         500
2   elephant     1003         550
16      lion     1017         600
1   elephant     1002         600

In [46]:
dzoo.sort_values(by = ['water_need'], ascending = False)

      animal  uniq_id  water_need
1   elephant     1002         600
16      lion     1017         600
2   elephant     1003         550
0   elephant     1001         500
17      lion     1018         500
20  kangaroo     1021         430
15      lion     1016         420
19  kangaroo     1020         410
21  kangaroo     1022         410
18      lion     1019         390
5      tiger     1006         330
4      tiger     1005         320
7      tiger     1008         310
3      tiger     1004         300
6      tiger     1007         290
10     zebra     1011         240
11     zebra     1012         230
9      zebra     1010         220
12     zebra     1013         220
8      zebra     1009         200
13     zebra     1014         100
14     zebra     1015          80

In [47]:
dzoo.sort_values(by = ['water_need'], ascending = False).reset_index()

    index    animal  uniq_id  water_need
0       1  elephant     1002         600
1      16      lion     1017         600
2       2  elephant     1003         550
3       0  elephant     1001         500
4      17      lion     1018         500
5      20  kangaroo     1021         430
6      15      lion     1016         420
7      19  kangaroo     1020         410
8      21  kangaroo     1022         410
9      18      lion     1019         390
10      5     tiger     1006         330
11      4     tiger     1005         320
12      7     tiger     1008         310
13      3     tiger     1004         300
14      6     tiger     1007         290
15     10     zebra     1011         240
16     11     zebra     1012         230
17      9     zebra     1010         220
18     12     zebra     1013         220
19      8     zebra     1009         200
20     13     zebra     1014         100
21     14     zebra     1015          80

In [49]:
dzoo.sort_values(by = ['water_need'], ascending = False).reset_index(drop = True)

      animal  uniq_id  water_need
0   elephant     1002         600
1       lion     1017         600
2   elephant     1003         550
3   elephant     1001         500
4       lion     1018         500
5   kangaroo     1021         430
6       lion     1016         420
7   kangaroo     1020         410
8   kangaroo     1022         410
9       lion     1019         390
10     tiger     1006         330
11     tiger     1005         320
12     tiger     1008         310
13     tiger     1004         300
14     tiger     1007         290
15     zebra     1011         240
16     zebra     1012         230
17     zebra     1010         220
18     zebra     1013         220
19     zebra     1009         200
20     zebra     1014         100
21     zebra     1015          80

In [50]:
zoo_eats.merge(dzoo,how = 'left').fillna('unknown')

      animal        food  uniq_id water_need
0   elephant  vegetables     1001        500
1   elephant  vegetables     1002        600
2   elephant  vegetables     1003        550
3      tiger        meat     1004        300
4      tiger        meat     1005        320
5      tiger        meat     1006        330
6      tiger        meat     1007        290
7      tiger        meat     1008        310
8      zebra  vegetables     1009        200
9      zebra  vegetables     1010        220
10     zebra  vegetables     1011        240
11     zebra  vegetables     1012        230
12     zebra  vegetables     1013        220
13     zebra  vegetables     1014        100
14     zebra  vegetables     1015         80
15  kangaroo  vegetables     1020        410
16  kangaroo  vegetables     1021        430
17  kangaroo  vegetables     1022        410
18   giraffe  vegetables  unknown    unknown

In [54]:
dzoo.merge(zoo_eats, how = 'left').fillna('meat')

      animal  uniq_id  water_need        food
0   elephant     1001         500  vegetables
1   elephant     1002         600  vegetables
2   elephant     1003         550  vegetables
3      tiger     1004         300        meat
4      tiger     1005         320        meat
5      tiger     1006         330        meat
6      tiger     1007         290        meat
7      tiger     1008         310        meat
8      zebra     1009         200  vegetables
9      zebra     1010         220  vegetables
10     zebra     1011         240  vegetables
11     zebra     1012         230  vegetables
12     zebra     1013         220  vegetables
13     zebra     1014         100  vegetables
14     zebra     1015          80  vegetables
15      lion     1016         420        meat
16      lion     1017         600        meat
17      lion     1018         500        meat
18      lion     1019         390        meat
19  kangaroo     1020         410  vegetables
20  kangaroo     1021         430  vegetables
21  kangaroo     1022         410  vegetables

In [75]:
dzoo.merge(zoo_eats, how = 'left').water_need

0     500
1     600
2     550
3     300
4     320
5     330
6     290
7     310
8     200
9     220
10    240
11    230
12    220
13    100
14     80
15    420
16    600
17    500
18    390
19    410
20    430
21    410
Name: water_need, dtype: int64